<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket Flight Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='success.css') }}">
</head>
<body>
<div class="nice">
  <div class="container">
    <h1>Flight Details</h1>
    <ul>
      {% for key, value in data.items() %}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
  </div>
</div>
</body>
</html>
